body {
    font-family: 'Arial', sans-serif;
    margin: 1.5rem;
    background-color: #1d3557;
}

header {
    background-color: #f1faee;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 1em 0;
    border-radius: 50px;
    width: 45%;
    height: .1rem;
    opacity: 85%;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul a {
    display: inline;
    margin: 1rem;
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    max-width: 800px;
    margin: 1.5rem auto;
    padding: 1.5rem;
    background-color: #f1faee;
    text-align: justify;
    opacity: 85%;
    border-radius: 50px;
}

main > section{
    flex: 1;
    margin: 1em;
}

img{
    width: 100%;     
    height: 100%;
    object-fit: contain; 
}

main section p b{
    color: #457b9d;
}

.habilidades{
    background-color: transparent;
    border: 3px solid #457b9d;
}


/* proyecto-slider */

.proyecto-slider{
    width: 90%;
    max-width: 120em;
    background-color: lightblue;
}

.proyecto-slider .slide-track{
    width: 200%;
    background-color: orange;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    transition: all .5s ease;
    transform: translateX(-50%);
}

.proyecto-slider .img{
    width: calc(100%/2);
    background-color: lime;
}

.proyecto-slider .puntos{
    width: 100%;
    background-color: red;
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.proyecto-slider .punto{
    width: 2em;
    height: 2em;
    background-color: blue;
    margin: 1em;
}

.proyecto-slider .punto.activo{
    background-color: orange;
}

footer {
    width: 100%;
    text-align: center;
    padding: 1em 0;
    background-color: #f1faee;
    opacity: 85%;
}

::-webkit-scrollbar {
    width: 5px; 
}
  
::-webkit-scrollbar-thumb {
    background: #457b9d; 
    border-radius: 10px
}